/* 전체 스타일 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

.logout {
    display: flex;
    border: none;
    position: relative;
    
}

.logout-button {
    display: flex;
    border: none;
    position: absolute;
    right: 10px;
    background-color: white;
    font-size: 1rem;
    font-family: inherit;
}

.home-button {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    background-size: contain;
    border: none;
    background-color: transparent;
    background-image: url('./image/home.png');
}


input[type="month"],
textarea {
    font-family: 'GangwonEdu_OTFBoldA', sans-serif;
    display: block;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 30px;
}


#username {
    text-align: center;
    font-size: 1.5rem;
}



/* 통계 */
.box{
    /* width: fit-content; */
    width:auto;
    padding: 0px 130px 0 130px;
    margin: 0 auto;
}


.bar-graph {
    background-color:#FDEEDC;
    padding: 60px 30px 0px 30px;
    border-radius: 20px 20px 0px 0px ;
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.bar {
    width: 30px;
    position: relative;
}


.bar-percentage {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    /* border-radius: 50px 50px 0px 0px; */
    background-color: #F1A661;
    transition: height 0.5s;
}

.bar-percentage:before {
    content: attr(data-percentage) '%';
    position:absolute;
    left: 33%;
    top: -20px;
    font-size: 12px;
}

.bar-image{
    width:auto;
    padding: 10px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.line {
    height: 1px;
    background-color: #183A1D;
}




/* 감정분석 */
#analysis-section {
    font-family: inherit;
    background-color: #f2f2f2;
    border: 3px solid #333;
    /* border-radius: 50px; */
    padding: 30px;
    margin: 30px;
    font-size: 1.5rem;

    
}

.analysis-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inherit;
}

.most-emotion,
.least-emotion {
    flex-basis: calc(50% - 10px);
    padding: 20px;
    /* margin-right: 10px; */
    font-family: inherit;
    border-radius: 30px 30px 30px 30px;
    background-color: #fde8ce;


    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    
}

.most-emotion h3,
.least-emotion h3 {
    font-size: 1.2rem;
    font-weight: bold;
    /* margin-bottom: 10px; */
    font-family: inherit;
}

.most-emotion img,
.least-emotion img {
    width:auto;
    padding: 5px 10px 15px 10px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}







/* 조언 */
#advice-section {
    font-family: inherit;
    background-color: #f2f2f2;
    border: 3px solid #333;
    /* border-radius: 50px; */
    padding: 20px;
    margin: 30px;
    font-size: 1.5rem;

}

.advice-container {
    padding: 20px;
    font-family: inherit;
    font-size: 1.5rem;
}



/*폰트*/
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 15%;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 2rem;
}